// bower:scss
// endbower
@import 'mixin';
@include keyframes(topDown) {
  0% {
      //  margin-right: 50px;
      //margin-left: 50px;

  }
  60%{
    opacity: 0.5;
     text-shadow: 0px 0px 0px #CCC;
  }
  100% {
     text-shadow: 0px 0px 0px #CCC;
      margin-left: 0;
      margin-right: 0;
      opacity: 1;
  }
}
body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #222;
  position:relative;
}
.animText{
  position: relative;

  //text-overflow: ellipsis;
}
.animType1{
  opacity: 0;
  font-size: 3em;
  position: relative;
  //margin-left: 50px;
  text-overflow: clip;
  white-space: nowrap;
  @include animation('topDown 1s 1s forwards cubic-bezier(0, 0, 0.31, 0.98)');
}
.animType1:nth-child(2n){
 color:rgba(0,0,0,0);
   text-shadow: 0px -50px 20px #255;
 /** WIP **/
}
.animType1:nth-child(2n + 1 ){
    text-shadow: 0px 50px 20px #552;
  color:rgba(0,0,0,0);
}

.animType2{
  position: relative;

  font-size: 2em;

}
