// bower:scss
// endbower
@import 'mixin';

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}
p{
  position: relative;

}
span:nth-child(2n){
//  position: relative;

  transform-origin: 50% 50%;
  transform: translateX(20px);

}
span:nth-child(2n + 1 ){
  position: relative;
  transform-origin: 0 -20px;

}
